-- Add dayIndex and weekNumber to PlanActivity for daily monitoring grid

-- 1. Add dayIndex column (1-7 for Day 1-7 of week)
ALTER TABLE "plan_activities" ADD COLUMN IF NOT EXISTS "day_index" INTEGER;

-- 2. Add weekNumber column (1-N for specific week in plan, null = every week)
ALTER TABLE "plan_activities" ADD COLUMN IF NOT EXISTS "week_number" INTEGER;

-- 3. Add composite index for monitoring queries
CREATE INDEX IF NOT EXISTS "plan_activities_plan_id_athlete_id_day_index_week_number_idx"
  ON "plan_activities"("plan_id", "athlete_id", "day_index", "week_number");

-- 4. Optional: constraint to validate dayIndex range (1-7)
DO 
BEGIN
  IF NOT EXISTS (
    SELECT 1 FROM information_schema.check_constraints
    WHERE constraint_name = 'plan_activities_day_index_check'
  ) THEN
    ALTER TABLE "plan_activities"
      ADD CONSTRAINT "plan_activities_day_index_check"
      CHECK ("day_index" IS NULL OR ("day_index" >= 1 AND "day_index" <= 7));
  END IF;
END ;

-- 5. Optional: constraint to validate weekNumber > 0
DO 
BEGIN
  IF NOT EXISTS (
    SELECT 1 FROM information_schema.check_constraints
    WHERE constraint_name = 'plan_activities_week_number_check'
  ) THEN
    ALTER TABLE "plan_activities"
      ADD CONSTRAINT "plan_activities_week_number_check"
      CHECK ("week_number" IS NULL OR "week_number" > 0);
  END IF;
END ;
